{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint", // needed to make babel stuff work properly
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-underscore-dangle": [
      "off"
    ],
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error"
  }
}