.control_panel_label {
  margin-right: 1rem;
}

.control_panel_button {
  width: 30ox;
  height: 30px;
}

.control_panel_page_input {
  width: 80px;
  height: 30px;
  box-sizing: border-box;
}

.control_panel_add_record {
  height: 30px;
  margin-left: 50px;
}