.table_container {
  overflow: hidden;
  width: fit-content;
}

.control_panel_label {
  margin-right: 1rem;
}

.control_panel_button {
  width: 30ox;
  height: 30px;
}

.control_panel_page_input {
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  -moz-appearance: textfield;
  text-align: center; 
}

.control_panel_add_record {
  height: 30px;
  margin-left: 50px;
}

.modal_form {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 500px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  
  &_container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10% 5% 0 5%;
  }

  &_title {
    width: fit-content;
    margin: 0 auto 2rem auto;
    font-weight: 800;
  }

  transition: all 0.25s;

}

.hidden {
  transform: translateY(-1000px);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}