.table_header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.header_cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 2px;
  border: 1px dashed gray;
  user-select: none;
}