
.table {
  height: 500px;
  overflow: scroll;
  width: fit-content;
}

.table_row {
  display: flex;
}

.table_cell {
  display: flex;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 2px;
  border: 1px dashed gray;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cell_id {
  width: 50px;
}

.cell_first_name {
  width: 120px;
}

.cell_last_name {
  width: 150px;
}

.cell_email {
  width: 240px;
}

.cell_phone {
  width: 130px;
}